

body
{
  padding: 0;
  margin: 0;
}

html
{
  padding: 0;
  margin: 0;

}


/* Style and background for main container  */
.container
{
  /* background-color: white; */
Background-image: url('images/BrickTile.jpg');
background-size: contain;
background-repeat: repeat;
background-position: center;
margin: 0;
margin-right: 0px;
margin-left: 0px;
}


/*navigation bar, images and social media icons */
nav
{
margin: auto;
width: 90%;
margin: 0px auto 50px auto;
padding: 10px;
display: flex;
justify-content: space-around;
align-items: center;
background-color: rgba(115,115,115,.99);
border-radius: 0px 0px 25px 25px;
border: 2px solid black;
box-shadow: 1px 2px 20px white;
}


nav
{
  height: auto;
  width: auto;
  display: flex;
  padding: 1px;
}


nav img
{
  width: 20%;
  height: 20%;
  padding: 5px;
  border-radius: 10px;
}


.navSocial
{
  display: flex;
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  border: 2px solid black;
  box-shadow: 2px 2px 20px white;
}

/* footer, images and social media icons */
footer img
{
  width: 20%;
  height: 20%;
  padding: 5px;
  border-radius: 10px;
}


.footerSocial
{
  display: flex;
  background-color: white;
  border-radius: 10px;
    margin: 10px;
  border: 2px solid black;
  box-shadow: 2px 2px 20px white;
}


/* hyperlinks */
a
{
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  letter-spacing: .2rem;
  justify-content: center;
  color: black;
  font-family: 'Bebas Neue', cursive;
}

a:link
{
color: White;
text-decoration: none;
}

a:active
{
color: White;
}

 a:hover
 {
color: black;
 }


/* first content section with bid button and broken phone in background */
.content
{
  display: grid;
  background-image: url('images/Broken4.jpg');
  z-index: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px;
  height: 100%;
  width: 100%;
  border: 1px solid black;
  box-shadow: 2px 2px 30px white;
  grid-template-areas:
  'box box'
  'box1 box1'
  'box2 box2';
  margin-bottom: 50px;
}



#transparent
{
  opacity: 99%;
  border-radius: 10px;
}

/* style for boxes in transparent section */
.box
{
  grid-area: box1;
  border: 2px solid black;
  border-radius: 25px;
  z-index: 5;
  box-shadow:
  1px 1px 1px rgb(0,0,5),
  2px 4px 1px rgba(0,0,0,.7),
  4px 4px 1px rgba(0,0,0,.4),
  8px 8px 1px rgba(0,0,0,.2);
  width: 100%;
  /* text-shadow:
  2px 1px 3px black,
  1px 2px 20px white; */
  padding: 20px;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 10px red, -1px -1px 10px white;
  background-color: rgba(0,0,0,.4);
  margin: 20px auto;
    font-family: 'Bebas Neue', cursive;
}

/* boxes with text in transparent section */
.box1
{
grid-area: box;
width: auto;
padding: 20px;
margin: auto;
background-color: rgba(0,0,5,.4);
color: white;
text-shadow: 1px 1px 10px red;
}

.box2
{
grid-area: box2;
width: auto;
padding: 20px;
margin: auto;
color: white;
text-shadow: 1px 1px 10px red, -1px -1px 10px white;
background-color: rgba(0,0,0,.4);
}

.box2 a:hover
{
  color: red;
  text-shadow: 3px 3px 10px white;
}

.box3
{
grid-area: box3;
width: auto;
padding: 20px;
margin: auto;
background-color: rgba(255,255,255,.5);
}

button
{
       padding: 5px;
       background-color: rgba(250,250,250,.9);
       border: 2px solid black;
       color: black;
       font-family: 'Bebas Neue', cursive;
}

/* labels for carousel */
.carousel-item h5, p
{
  color: black;
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
}


/* second content section below carousel */
.content2
{
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
  'box4 box6'
  'box5 box6';
  margin: 20px;
  width: 90%;
}

/* store information */
.box4
{
  margin: 40px auto;
  width: 80%;
  text-align: center;
  border: 1px solid black;
  box-shadow: 2px 2px 30px 4px white;
  border-radius: 50px;
  padding: 20px;
  background-color: rgba(115,115,115,.8);
  font-family: 'Bebas Neue', cursive;
}


/* Photo of Owners */
.box6
{
  margin: auto;
  grid-area: box6;
  width: 90%;
  text-align: center;
  border: 1px solid black;
  box-shadow: 2px 2px 30px 4px white;
  border-radius: 50px;
  padding: 20px;
  min-width: 400px;
  background-color: rgba(115,115,115,.8);
  font-family: 'Bebas Neue', cursive;
}

.box6 h1 {
  font-size: 3rem;
  text-shadow: 2px 3px 10px black;
  color: white;
  margin: 0 0 10px 0;
}



.box6 img {
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: 2px 2px 30px 4px white;
  max-height: 500px;
}



 /* .box7 img {
   height: 80%;
   width: 80%;
   border-radius: 20px;
   border: 1px solid black;
   box-shadow: 2px 2px 30px 4px white;
 }



.box7
{
  margin: 40px auto;
  width: 80%;
  text-align: center;
  border: 1px solid black;
  box-shadow: 2px 2px 30px 4px white;
  border-radius: 50px;
  padding: 20px;
  color: white;
  background-color: rgba(115,115,115,.8);
  font-family: 'Bebas Neue', cursive;
} */


.box4 a
{
  color: white;
  margin: 20px auto;
}

footer a:hover {
  color: red;
  text-shadow: 2px 2px 5px black;
}

nav a:hover {
  color: red;
  text-shadow: 2px 2px 5px black;
}

.box4 a:hover
{
  color: red;
  text-shadow: 2px 2px 5px black;
  margin: 20px auto;
}

.box4 h1
{
  padding-top: 30px;
  color: white;
  font-size: 3.5rem;
  text-shadow: 2px 3px 10px black, -2px -3px 10px red;
}

li
{
  list-style-type: none;
  font-weight: bold;
  line-height: 4.5rem;
  font-size: 1.9rem;
  width: 100%;
  display: block;
  padding-left: 0;
  margin: 15px auto;
}


/* map and and location box */
.box5
{
grid-area: box5;
min-width: 300px;
height: auto;
width: auto;
padding: 20px;
margin: 10px auto 60px auto;
border: 1px solid black;
border-radius: 50px;
color: white;
background-color: rgba(115,115,115,.8);
box-shadow: 2px 2px 30px 4px rgba(255,255,255,.99);
}


.box5 h1
{
  font-size: 3rem;
  text-shadow: 2px 3px 10px black;
  margin: 0;
}


.location
{
  margin: 10px auto 20px auto;
  width: 100%;
  text-align: center;
  color: white;
  font-family: 'Bebas Neue', cursive;
  text-shadow: 2px 3px black;
}






/* style for google reviews widget H1 */
.cWsVKk
{
  text-shadow: 2px 3px 10px black;
  color: white !important;
  font-size: 2.5rem !important;
  font-weight: normal !important;
}


#Reviews
{
  color: white;
}


.imgsection
{
  margin: 0px auto 50px auto;
}

/* style for map  */
iframe
{
  border-radius: 20px;
  margin: 10px auto 20px auto;
  box-shadow: 2px 2px 10px black;
  display: flex;
  width: 95%;
  height: 70%;
}


/* style for phone Manufacturers */
.icons img
{
  width: 40px;
  height: 40px;
  display: flex;
  margin: auto;
  padding: 5px;
  justify-content: center;
}

.icons
{
  background-color: rgba(255,255,255,.98);
  border-radius: 25px;
  width: auto;
}


.box2 a
{
  font-size: 2.5rem;
  color: white;
}


.slide
{
  border-radius: 25px;
  font-family: 'Bebas Neue', cursive;
}


.testimonial h1
{
  text-shadow: 2px 3px 10px black;
  color: white;
}


.testimonial
{
  margin: 20px auto 50px auto;
  width: 80%;
  text-align: center;
  border: 1px solid black;
  box-shadow: 4px 4px 30px 4px white;
  border-radius: 30px;
  padding: 10px;
  color: white;
  background-color: rgba(115,115,115,.99);
  background-size: cover;
  background-position: center;
  font-family: 'Bebas Neue', cursive;
}


#reviews
{
  color: white;
  background-color: white;
}


/* style for form */
#ResponsibidIframeContainer
{
  background-color: white;
  border-radius: 10px;
  width: 90%;
  margin: 20px auto;
  padding: 20px;
}


/* style for buttons on the carousel */
.carousel-indicators
{
  background-color: rgba(0,0,0,.4);
  border-radius: 10px;
}


.carousel-control-next-icon
{
  background-color: black;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
}


.carousel-control-prev-icon
{
  background-color: black;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
}


.carousel-inner
{
  border: 2px solid grey;
  border-radius: 10px;
  box-shadow: 2px 3px 10px white;
}


.icons
{
  display: flex;
  margin: auto;
  width: 100%;
}


/* width of picture slideshow */
.carousel
{
  width: 60%;
  height: 60%;
  margin: auto;
}


/* style for the footer */
footer
{
  margin: auto;
  width: 100%;
  margin: 30px auto 0 auto;
  padding: 10px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(115,115,115,.99);
  border-radius: 25px 25px 0px 0px;
  border: 2px solid black;
  box-shadow: 1px 2px 20px white;
}


/* style for social media */
.fab
{
  padding: 1px;
  font-size: 2rem;
  margin: 5px 10px;
  text-decoration: none;
  color: black;
}

.fab:hover
{
  color: red;
}



/* Everything else */
@media screen and (max-width: 1200px) {


  .box4 a {
    font-size: 1.4rem;
  }

}

    /* laptop screens  */
@media screen and (max-width: 1000px) {
  .content2 {
    display: grid;
    align-items: center;
    margin: auto;
    text-align: center;
    margin: auto;
    grid-template-areas:
    'box4'
    'box5'
    'box6';
  }



  .box4
  {
  grid-area: box4;
  width: 80%;
  padding: 20px;
  border-radius: 50px;
  display: block;
  justify-content: center;
  }

.box6 {
  margin: 0px auto 30px auto;
}



  .box5
  {
  grid-area: box5;
  width: 90%;
  justify-content: center;
  text-align: center;
  padding: 20px;
  border-radius: 50px;
  margin: 0px auto 30px auto;
  }

.cWsVKk
{
  font-size: 2rem !important;
}

  footer a
  {
    font-size: .99rem;

  }

  .footerSocial
  {
    height: 50%;
  }

  nav a
  {
    font-size: .99rem;

  }

  .navSocial
  {
    height: 50%;
  }

}

/* tablet screens */
@media screen and (max-width: 650px) {

footer a {
  font-size: .9rem;
}

nav a {
  font-size: .9rem;
}

.cWsVKk
{
  font-size: 2rem !important;
  padding: 20px !important;
}

.testimonial h1 {
  font-size: 2rem;
  padding: 5px;
}


iframe {
  margin: auto;
}


.box6 img {
  height: 70%;
  width: 70%;
}

}



/* for mobile phones  */
@media screen and (max-width: 375px) {

  nav .Logo
  {
    width: 100%;
    height: 100%;
  }

  .navSocial
  {
    display: none;
  }


    .footerSocial
    {
      display: none;
    }


  .box6 {
    display: none;
  }

  .testimonials {
    display: none;
  }

  .grid {
    margin: auto;
    justify-content: center;
  }
}
